@keyframes carregando {

    0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
    
}

#PageTitulo{
    font-size: 30px;
    font-weight: bold;
}
#PageProjetos{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20vh;
    
}
.ConteinerProjetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    width: 60%;
    min-height: 75vh;
    transition: 2s;
    
    
}
.BoxProjeto{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 40vh;
    background-size: 100%;
    background-position: top;
    transition: 1s;
    background-size: cover;
    margin: 10vh;
    padding: 1%;
    background-color: rgb(202, 202, 202);
}
.IMGProjetos{
    
    width: 40vh;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 10px 1px black;
    transition: 0.3s;
   
}
.IMGProjetos:Hover{
    box-shadow: -30px 15px 0px 10px #9118F5;
    transform: scale(1.1);
    cursor: pointer;
    
}
#HelpEarth:hover{
    box-shadow: 30px 15px 0px 10px #9118F5;
}




.loading{
    margin-bottom: 50px;
    width: 50px;
    height: 50px;
    border: solid 7px rgba(0, 0, 0, 0.278);
    border-top-color: #ffffff;
    border-radius: 100%;
    animation: carregando 2s linear infinite;  
}
#OnlyFilms{
    background-image: url('./img/Icon_OnlyFilms.png');
}
#BoxProjetoDireito{
    flex-direction: row-reverse;
}
#HelpEarth{
    background-image: url('./img/Icon_HelpeEarth.png');
}
#MinhaPokedex{
    background-image: url('./img/Icon_pokemon.png');
}
.DescrBoxProjeto{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4%;
    margin-right: 4%;
}
.NomeBoxProjeto{
    font-size: 35px;
    display: flex;
    margin: 3% 8% 3% 8%;
    border: solid 5px transparent;
    border-left-color: #9118F5;
}
#TextoLoading{
    width: 100%;
}
#NomeBoxProjetoDireito{
    border-left-color: transparent;
    border-right-color: #9118F5;
}
.ResumoBoxProjeto{
    font-weight: bold;
    margin: 3%;
}
.TextoBoxProjeto{
    margin-left: 2%;
}
#DescrBoxProjetoDireito{
align-items: flex-end;
}

@media (max-width: 1000px){

    .BoxProjeto{
        flex-direction: column;
    }
    #BoxProjetoDireito{
        flex-direction: column;
    }
    #DescrBoxProjetoDireito{
        align-items: flex-start;
    }
    #NomeBoxProjetoDireito{
        border-right-color: transparent;
        border-left-color: #9118F5;
    }
    .IMGProjetos:Hover{
        box-shadow: none;
        transform: scale(1);
        cursor: pointer;
        
    }
    #HelpEarth:hover{
        box-shadow: none;
    }

}
@media (max-width: 780px){
    #Tela1Projetos{
        flex-direction: column;
    }
    .Projeto{
        width: 100%;
        margin-bottom: 10vh;

    }
    .SpanProjetos{
        margin: 5vh;
    }
    .BoxProjeto{
        margin: 10vh;
        width: 40vh;
        
    }
    #NomeProjeto{
        border-radius: 0%;
    } 
    #Tela2Projetos{
        width: 100%;
        flex-direction: column;
        align-items: center;
       
    }
    #ImgProjeto{
        border-radius: 100%;
    }

}