@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family:  arial;
    color: black;
    font-size: 16px;
    scroll-behavior: smooth;
    scroll-margin-top: 16vh;
    
    
}

main{ 
    display: flex;
    flex-direction: column;
    background-color: rgb(220, 220, 220);
    color: white;
    padding-bottom: 5%;
}

h1{
    font-family: 'Righteous', arial;
    color: rgb(220, 220, 220);
    background: linear-gradient(248deg, #0299B8 0%, #9118F5 61%);
    box-shadow: black 0px 2px 10px 1px;
    
  
}
h3{
    display: flex;
    font-size: 20px;
  
}
@keyframes Quick {
    0%{top: 90%;}
   
    50%{top: 94%;}
  
    100%{top: 90%;}

}
@keyframes Home {
    0%{background-position: 0% 50%;}
   
    50%{background-position: 100% 50%;}
  
    100%{background-position: 0% 50%;}

}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 600px;
    }
}
@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #000;
    }
}

#section1{
    display: flex;
    max-width: 100%;
    min-height: 100vh;
    background: linear-gradient(248deg, #029ab8f8 0%, #9118F5 60%);
    background-size: 200% 200%;
    animation: Home 7s linear infinite;
    /*animation: fadeIn 1s linear;*/
    
}
#titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    background: linear-gradient(90deg, rgb(220, 220, 220) 70%, #9218f500 100%);
}
.titFrase{
    border-right: 2px solid transparent;
    font-size: 30px;
    margin-left: 2%;
    font-family: 'Righteous', arial;
    white-space: nowrap;
    overflow: hidden;
   
}
#EfeitoDigito{
    animation: blink-caret 0.75s step-end infinite;
}


.subtit{
    margin-left: 5%;
    color: white;
    
}
#imagemTitulo{
    font-family: 'Righteous', arial;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200px;
    color: rgb(220, 220, 220);
    height: 100vh;
    
}
.opcoes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(248deg, #029ab8a7 0%, #9218f5b4 60%);
    box-shadow: black 0px 2px 10px 1px;
    border-radius: 0 100px 100px 0px;
    margin-top: 13%;
    height: 10%;
    width: 60%;
    
}

.opcoes img{
    transition: 0.5s;
    
    height: 50px;
    
}
.opcoes img:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

.seta{
    display: flex;
    position: absolute;
    padding: 25px;
    box-shadow: 2px -2px 0 1px rgb(17, 17, 17) inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(-45deg);
    top: 100%;
    left: 45%;
    animation: Quick 3s ease infinite;
    
   
}

#section2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80vh;
    max-width: 100%;
    margin-top: 10vh;
}

.CampoSelfie{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 400px;
 
}
.Selfie{
    background-image: url('./Img/Img_Selfie.jpg');
    box-shadow: 0px 0px 10px 0px black;
    border-radius: 100%;
    width: 250px;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
   
}

.CampoSobre{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.CampoSobre span{
    margin-right: 10%;
}
.CampoSobre h1{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10%;
    font-size: 60px;
}


#section3{
    margin-bottom: 6%;
}

.titulo{
    font-family: 'Righteous', arial;
    display: flex;
    box-shadow: black 0px 2px 10px 1px;
    margin-bottom: 5%;
    margin-top: 5%;
    justify-content: center;
    font-size: 50px;
    color: rgb(220, 220, 220);
    background: linear-gradient(248deg, #0299B8 0%, #9118F5 61%);
}
.CampoFAcad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.instituicao{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 90%;   
}
.ImgInstituicao{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
    height: 80%;
    width: 80%; 
    transition: 1s;
    border: solid 5px rgba(0, 0, 0, 0);
}
.ImgInstituicao span{
    margin-left: 1vh;
}

#ETEC{
    background: linear-gradient(to left, rgba(26, 26, 26, 0) 0%, rgb(220, 220, 220) 50%), url('./Img/Icon_Etec.jpeg');
    background-size: contain;
    
}
#UNIP{
    background: linear-gradient(to left, rgba(26, 26, 26, 0) 0%, rgb(220, 220, 220) 50%), url('./Img/Icon_Unip.png');
    background-size: contain;
    
}
#FMU{
    background: linear-gradient(to left, rgba(26, 26, 26, 0) 0%, rgb(220, 220, 220) 50%), url('./Img/Icon_Fmu.png');
    background-size: contain;
    
}
.DescFAcad{
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vh;
    background: linear-gradient(248deg, rgba(255, 255, 255, 0.245) 0%, rgb(26, 26, 26) 61%);
    

}
#TitInst{
    font-weight: bold;
}
#CursoInst{
    font-weight: bold;
}

.CampoExpProf{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.ImgExpProf{
    
    width: 200px;
}
.DescExpProf{
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 20px;
}
.TitleExpProf{
    color: #0299B8;
    font-weight: bold;
    
}

#section5{
    min-height: 100vh;
    
}


#CampoConhecimento{
    display: flex;
    justify-content: space-evenly;
}
.BoxConhecimento{
   
    width: 40vh;
    
}
.NomeBox{
    display: flex;
    color: #9118F5;
    justify-content: center;
    margin-bottom: 10%;
    font-weight: bold;
}
.BoxHabilidade{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
 
}
.NomeHabilidade{
    width: 120px;
}
.BarraHabilidade{
    background-color: #0299B8;
    margin-left: 10px;
    width: 40px;
    height: 5px;
}
.BarraHabilidadeNegativa{
    background-color: rgba(0, 0, 0, 0.197);
    margin-left: 10px;
    width: 40px;
    height: 5px;
}
@media (max-width: 1310px) {

    .titFrase{
        font-size: 30px;
    }
    
}
@media (max-width: 1200px){

    .titFrase{
        font-size: 23px;
    }
    #section2{
        flex-direction: column-reverse;
        
    }
    .CampoSobre{
        width: 100%;
    }
    #section2 span{
        margin: 0 5% 0 5%;
    }
  
}

@media (max-width: 1000px){
    .titulo{
        font-size: 25px;
        
    }
    #CampoConhecimento{
        flex-direction: column;
        align-items: center;
    }
    .NomeBox{
        margin-top: 100px;
    }
    #section1{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        background: transparent;

    }
    #titulo{
        background: none;
        width: 100%;
        margin: 0;
        
    }
    #imagemTitulo{
        height: 40%;
        background: linear-gradient(248deg, #0299B8 0%, #9118F5 61%);
        color: transparent;
        background-clip: text;
        text-decoration:overline;
       
   
    }
    .opcoes{
        width: 100%;
        border-radius: 0%;
        padding: 5px 0 5px 0;
       
    }
    .titFrase{
        display: flex;
        font-size: 18px;
        justify-content: center;
        margin: 0%;
        
        
    }
    .BordaSelfie{
        width: 200px;
        height: 200px;
    }
    .Selfie{
        width: 200px;
        height: 200px;
    }
    .ImgExpProf{
        display: none;
    }
    .DescExpProf{
        width: 100%;
        margin: 5%;
    }
   
}

