
Footer{
   display: flex;
   flex-direction: column;
    
    min-height: 10vh;
    box-shadow: 0px 0px 10px 2px black;
    background-color: rgb(220, 220, 220);
    align-items: center;
    justify-content: space-around;
    padding-top: 1%;
    
    
}
Footer *{
    font-size: 15px;
}
.PrimeiraLinha{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

@media (max-width: 500px){
    Footer{

        
        align-items: stretch;
        

    }
    Footer *{
        font-size: 15px;
        
    }
    Footer span{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1%;
    }
    .PrimeiraLinha{
        flex-direction: column;
    }
 
    

}